.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  border: 0 none;
  box-sizing: border-box !important;
  font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
